.containerHead{
    -fx-border-color:black;
    -fx-alignment:center;
    -fx-pref-height:50;
}
.containerFooter{
    -fx-border-color:blue;
    -fx-alignment:center;
}

.containerBoard{
    -fx-border-color:red;
    -fx-alignment:center;
    -fx-padding:20;
}

.containerBoard .grid-bloques {
     -fx-background-color: #141414;
     -fx-padding:1;
     -fx-hgap: 2;
     -fx-vgap: 2;
     -fx-max-height:300;
     -fx-min-width:300;
     -fx-alignment:center;
 }

 .containerBoard .grid-bloques .grid-board {
      -fx-background-color: #C9C9C9;
      -fx-alignment:center;
  }
/*estilo para cada uno de los textFields*/
 .cell{
    -fx-pref-width:60;
    -fx-pref-height:60;
    -fx-alignment:center;
    -fx-font-size:18;
    -fx-background-color: #F5FCFF;
    -fx-border-color: #bbb;
    -fx-border-width:1;
 }
 .cell.given {
     -fx-background-color: #F2F2F2;
     -fx-font-weight: bold;
 }

.hover{
-fx-background-color: #41E0C3;
  -fx-effect: dropshadow(gaussian, rgba(65,224,195,0.6), 6, 0.2, 0, 0);
}
.highlight{
    -fx-background-color:#D9FDFF;
}
.cell.conflict {
    -fx-background-color: #ffcccc;
}
