.root {
    -fx-background-color: #F8F9FF;
}

/* Containers */
.containerHead{
    -fx-border-color:#454973;
    -fx-alignment:center;
    -fx-pref-height:60;
}
.containerFooter{
    -fx-border-color:#454973;
    -fx-alignment:center;
    -fx-spacing: 15;
}

.containerBoard{
    -fx-border-color:#454973;
    -fx-alignment:center;
    -fx-padding:20;
}

/* Label */

.containerHead .label {
    -fx-text-fill: #454973;
    -fx-text-weight: bold;
    -fx-font-size: 30px;
    -fx-font-family: "Arial Black";
}

 /* General button style */

 .containerFooter .button {
    -fx-background-color: #454973;
    -fx-text-fill: #F8F9FF;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-pref-width: 90;
    -fx-pref-height: 40;
 }

 .containerFooter .button:hover {
     -fx-background-color: #5A5FA0;
 }

/* Boards and cells*/
.containerBoard .grid-bloques {
     -fx-background-color: #141414;
     -fx-padding:1;
     -fx-hgap: 2;
     -fx-vgap: 2;
     -fx-max-height:300;
     -fx-min-width:300;
     -fx-alignment:center;
 }

 .containerBoard .grid-bloques .grid-board {
      -fx-background-color: #C9C9C9;
      -fx-alignment:center;
  }
/* Style for the textFields*/
 .cell{
    -fx-pref-width:60;
    -fx-pref-height:60;
    -fx-alignment:center;
    -fx-font-size:18;
    -fx-background-color: #EBEEFF;
    -fx-border-color: #bbb;
    -fx-border-width:1;
 }
 .cell.given {
     -fx-background-color: #F8F9FF;
     -fx-font-weight: bold;
 }

/* Effects*/
.hover{
    -fx-background-color: #C2CBFF;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.35), 12, 0.0, 0, 4);
    }
.highlight{
    -fx-background-color:#C2CCFF;
}
.cell .conflict {
    -fx-background-color: #C2CCFF;
}
.pistaUsuario{
-fx-effect: dropshadow(gaussian, rgba(0,180,60,0.6), 12, 0.0, 0, 4);
 -fx-border-color: #00FF0C;
  -fx-border-width:1;
  -fx-background-color:#E0FFE7;
}